@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="masthead" style="background-image: url('assets/img/square-pic.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Ukraine news</h1>
                    <span class="subheading">Spirit of Ukraine nation.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="section-heading">Russian forces once again shelled Kherson</h2>
                <p>
                    On December 28, there was a hit near a residential building in the “Korabelnyi” district of Kherson. Fortunately, there were no casualties.
                    This was reported by Oleksandr Prokudin, Head of Kherson Regional Military Administration.</p>
                <h2 class="section-heading">he Kremlin launched a new information attack against Ukrainians: the details were explained by the Defence Intelligence of Ukraine</h2>
                <p>The Russian occupiers have launched a new information attack against Ukrainians. Messages are received on the phones of our citizens with an appeal to help Moscow expel "American Satanists out of the truly Russian land."</p>
                <h2 class="section-heading">Danilov named the real reason for Putin's "hints" at negotiations</h2>
                <p>Secretary of the National Security and Defense Council of Ukraine, Oleksiy Danilov, stated that Ukraine will not agree to Putin's manipulations in negotiations because the only thing he wants is Kyiv's capitulation.
                 Putin is not ready for negotiations; he is only pretending to be ready to pressure Ukraine.</p>
            </div>
        </div>
    </div>
</main>